.converter-wrapper {
  padding-top: 88px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.converter-form {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  margin-bottom: 30px;
}

.converter-form-textarea {
  min-width: 250px;
}

.convereter-form-select {
  margin-top: 10px
}

.converter-form-button {
  margin-top: 20px;
  width: 70%;
  align-self: center;
}

.converter-output-wrapper{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
