<div class="converter-wrapper">
  <div>
    <form (ngSubmit)="convert()" novalidate  class="converter-form">
      <textarea name="inputText" [(ngModel)]="convertModel.inputText" placeholder="Enter text to convert" class="converter-form-textarea"></textarea>
      <select name="convertType" [(ngModel)]="convertModel.type" class="convereter-form-select">
        <option *ngFor="let t of convertTypes" [ngValue]="t.value">{{t.name}}</option>
      </select>

      <button class="converter-form-button">Convert</button>
    </form>
  </div>

  <div class="converter-output-wrapper">
    <pre>{{convertResponseModel.outputText}}</pre>
  </div>
</div>
